{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% for post in posts %}
      <article>
        <hr>
        <div class="row">
          <div class="col">
            <a class="h2" href="{{ url_for('product_detail', id=post.id) }} ">{{ post.content }}</a>
            <p class="text-justify">{{ post.keyword }}</p>
          </div>
          <div class="col-md-2 d-flex flex-column">
            <img class="rounded-circle mx-auto" src="#" data-src="holder.js/64x64" width="64px" height="64px">
            <p class="text-muted text-center">{{ post.author.username}}</p>
          </div>
        </div>
        <small class="text-muted">{{ post.price }} 원</small>
      </article>
      {% endfor %}
    </div>
     
    <aside class="col-md-4 my-3">
      <h2>My Followee</h2>
      <ul class="list-group">
        <li class="list-group-item">{{ author.followee }}</li>
      </ul>
    </aside>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src=https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js></script>
{% endblock %}