<!DOCTYPE html>
<html>
<head></head>
<body>
    <table>
        <thead>
            <tr>id</tr>
            <tr>userid</tr>
            <tr>username</tr>
            <tr>email</tr>
            <tr>password</tr>
            <tr>followee</tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userid }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.followee }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>keyword</tr>
            <tr>content</tr>
            <tr>price</tr>
            <tr>image</tr>
            <tr>user_id</tr>
        </thead>

        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.keyword }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.price }}</td>
                <td>{{ post.image }}</td>
                <td>{{ post.author }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>